@import "../../styles";

:host {
  display: flex;
  flex-direction: column;
  background-color: #e6eeee;
  margin: 5px;
  padding: 5px;
  width: 80%;
  border: rgba(121, 118, 118, 0.6) 1px solid;
  border-radius: 7px;
}

.product {
  border: rgba(173, 173, 173, 0.5) 0.5px solid;
  padding: 2px;
  border-radius: 2px;
  margin: 2px;

  p {
    margin: 3px;
    font-size: 15px;
  }
}
