<div style="position: sticky;  top: 0; background-color: white">
  <div class="nav-bar">
    <span class="router-btn" routerLink="/login" routerLinkActive="active-router-btn">login</span>
    <span class="router-btn" routerLink="/products" routerLinkActive="active-router-btn">products</span>
    <span class="router-btn" routerLink="/shopping cart" routerLinkActive="active-router-btn">shopping cart</span>
    <span class="router-btn" routerLink="/settings" routerLinkActive="active-router-btn">settings</span>
  </div>
  <hr>
</div>
<router-outlet></router-outlet>
